<div class="contianer">
  <div >
    <nav>
      <ul>
         <!-- routing through routerlinks -->

       <!-- <li [routerLinkActive]="'Active'"><a [routerLink]="'Home'" >Home</a></li> -->
        <li [routerLinkActive]="'Active'" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="''" >Home</a></li>
        <li routerLinkActive="Active"> <a [routerLink]="'About'">About</a></li>
        <li routerLinkActive="Active"> <a [routerLink]="'Coursess'">Coursess</a></li>
        <li routerLinkActive="Active"><a [routerLink]="'Contact'">Contact</a></li>

         <!-- for fragment routing -->
        <!-- <li [routerLinkActive]="'Active'" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="''" fragment="Home">Home</a></li>
        <li routerLinkActive="Active"> <a [routerLink]="''" fragment="About">About</a></li>
        <li routerLinkActive="Active"> <a [routerLink]="''" fragment="Coursess">Coursess</a></li>
        <li routerLinkActive="Active"><a [routerLink]="''" fragment="Contact">Contact</a></li> -->

        <span style="float: right; display: flex;">
          <li (click)="login()"><a >Login</a></li>
          <li (click)="logout()"><a>Logout</a></li>
        </span>
      </ul>
    </nav>
  </div>
  <div class="child-container">
      <!-- <app-home id="Home"></app-home>
      <app-about id = 'About'></app-about>
      <app-coursess id="Coursess"></app-coursess>
      <app-contact id="Contact"></app-contact> -->
  <router-outlet></router-outlet>
  <div class="spinner" *ngIf="displayLoadingIndicator"></div>
  </div>
</div>